#media-background{
    background: url("../media/img/skatepark.jpg") no-repeat center fixed;
    background-size: auto;
}

#nav1{
    backdrop-filter: blur(5px);
    background-color: rgba(41, 43, 44, 0.5);
}

.container {
    margin-top: 2.5%;
}

.col-sm-6 {
    margin-bottom: 5%;
}
.images {
    width: 50%;
}